@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@-ms-viewport {
  width: device-width; }

body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover; }

.container {
  display: block;
  position: relative;
  top: 10vh; }

.main {
  display: block;
  position: relative;
  top: 10vh; }

.center-text {
  text-align: center; }

.center-align {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.title {
  font-weight: 700;
  font-size: 3em;
  font-family: "Roboto";
  color: #F8F8F2; }

.text-content {
  color: #F8F8F2;
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
  font-size: 1.1em; }

.code-highlight-infos {
  background: #000000;
  padding: 15px;
  width: 60%;
  margin: 0 auto;
  font-family: "Source Code Pro", monospace; }
  .code-highlight-infos .text-content {
    font-weight: 500;
    font-family: "Source Code Pro", monospace; }
  .code-highlight-infos .code-purple {
    color: #C679DD; }
  .code-highlight-infos .code-red {
    color: #DF6A73; }
  .code-highlight-infos .code-green {
    color: #90C378; }

.location {
  color: #F8F8F2;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1em; }

.button {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto";
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #B30F4F;
  border-radius: 2px;
  color: #F8F8F2;
  font-weight: bold;
  transition: 0.4s;
  position: relative; }

.speaker {
  clear: both;
  margin-top: 50px;
  display: block;
  width: 100%;
  float: none;
  font-family: "Roboto";
  display: flex; }

.talk {
  text-align: center;
  padding: 2%;
  width: 100vh;
  color: white; }
  .talk a.link {
    padding: 1%;
    text-decoration: none;
    color: #B30F4F;
    font-family: "Roboto"; }
  .talk a.link:hover {
    border-radius: 0px;
    font-family: "Roboto";
    transition: none; }
  .talk .speaker-img {
    border-radius: 50%;
    transition: 0.3s;
    width: 50%; }
  .talk .speaker-img:hover {
    width: 55%;
    cursor: pointer; }
  .talk .talk-person {
    color: white;
    background: #F8F8F2;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .talk .talk-title {
    font-weight: 400; }
  .talk .talk-bio {
    line-height: 1.8em; }
  .talk .link {
    color: white; }

a.button-participe:hover {
  color: #B30F4F;
  background-color: #F8F8F2;
  font-family: "Roboto";
  border-color: #F8F8F2;
  border-radius: 6px; }

.equal {
  color: #B30F4F; }

@media screen and (max-width: 992px) {
  .speaker {
    display: block;
    margin-top: 30px; }
    .speaker .talk {
      margin-top: 30px;
      width: 90%;
      padding: 5%; } }

@media screen and (max-width: 600px) {
  .code-highlight-infos {
    width: 96%;
    padding: 2%; }
    .code-highlight-infos .text-content {
      font-weight: 500;
      font-size: 1  em; } }
