* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    line-height: 1rem;
}

body {
    font-size: 16px;
    background: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
}

button {
    font-family: 'Dosis', sans-serif;
}

:focus {
    outline: none;
}

a {
    text-decoration: none;

    &:hover, &:focus, &:visited {
        text-decoration: none;
    }
}
