$black: #272822;
$white: #F8F8F2;
$green: #A6E22E;
$darkgreen: #8CC21F;
$red: #B30F4F;
$font: 'Source Code Pro', monospace;
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700');

@-ms-viewport{
  width: device-width;
}

body{
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}
.container{
  display: block;
  position: relative;
  top: 10vh;
}
.main{
    display: block;
    position: relative;
    top: 10vh;
}
.center-text{
    text-align: center;
}
.center-align{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.title{
    font-family: $font;
    font-weight: 700;
    font-size: 2.8em;
    color: $white;
}
.text-content{
    color: $white;
    font-family: $font;
    font-weight: 700;
    font-size: 1.1em;
}
.location{
    color: $white;
    font-family: $font;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
}
.button{
    display: block;
    position: relative;
    font-family: $font;
    font-weight: 300;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid $red;
    border-radius: 2px;
    color: $white;
    font-weight: bold;
    transition: 0.2s;
    position: relative;
}
.speaker{
  clear: both;
  display: block;
  width: 100%;
  float: none;
  display: flex;
}
.talk{
  text-align: center;
  padding: 5%;
  width: 100vh;
  font-family: $font;
  color: white;

  a.link{
    padding: 1%;
    text-decoration: none;
    color: $red;
    background-color: white;
  }
  a.link:hover{
    border-radius: 0px;
    transition: none;
  }
  .speaker-img{
    border-radius: 50%;
    transition: 0.3s;
    width: 50%;
  }
  .speaker-img:hover{
    width: 55%;
  }
  .talk-person{
    color: white;
  }
  .talk-title{
    font-weight: 400;
  }
  .talk-bio{

  }
  .link{
    color: white;
  }
}
a:hover{
  color: $red;
  background-color: $white;
  border-color: $red;
  border-radius: 6px;
}
.equal{
  color: $red;
}

@media screen and (max-width: 992px) {
  .speaker {
    display: block;
    margin-top: 30px;
    .talk {
      margin-top: 30px;
      width: 90%;
    }
  }
}
